/*
GENERAL
*/
body {
  font-family: 'Lato', sans-serif;
}
section {
  padding: 80px 0;
}
.wrapper {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.r_margin {
  margin: 0;
}

.bg_white {
  background-color: #fff;
}
.bg_green {
  background-color: #1abc9c;
}
.bg_blue {
  background-color: #3a546d;
}
.bg_darkblue {
  background-color: #2c3e50;
}

.max_width {
  width: 100%;
}

.star_text {
  margin: 20px 0;
}
.star_text > * {
  display: inline-block;
}
.star_text > hr {
  width: 30%;
  max-width: 110px;
  height: 3px;
  margin: 0 10px;
  position: relative;
  bottom: 10px;
  border-radius: 3px;
}
.star_text > span {
  font-size: 30px;
}

/*
TYPO
 */
h1 {
  font-size: 26px;
}
h1,
h2,
h3,
.bold {
  font-weight: bold;
}
section > h2:first-child {
  font-size: 28px;
}

.text_white {
  color: #fff;
}
.text_darkblue {
  color: #2c3e50;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
  section > h2:first-child {
    font-size: 40px;
  }
}

/*
CONTENT
*/

/* Header */
#header-top {
  line-height: 90px;
}
#header-top h2 {
  font-size: 22px;
  line-height: 90px;
  margin: 0;
}

#header-top a {
  color: #fff;
  font-weight: bold;
}
#header-top a:hover {
  color: #1abc9c;
}
@media screen and (min-width: 768px) {
  #header-top h2 {
    font-size: 30px;
  }
}

#jumbotron {
  margin-top: 90px;
  padding: 100px 0;
}
#jumbotron > .jumbotron-text {
  width: 70%;
  margin: auto;
}
#jumbotron > .jumbotron-text > img {
  width: 90%;
  max-width: 260px;
}
#jumbotron p {
  font-size: 20px;
}

/* Portfolio */

#portfolio .port_item {
  position: relative;
  margin: 15px 0;
  border-radius: 20px;
  overflow: hidden;
}
#portfolio .port_item > img {
  width: 100%;
}
#portfolio .port_item_hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 70px;
  background-color: rgba(26, 188, 156, 0.5);
  width: 100%;
  height: 100%;
}
#portfolio .port_item_hover > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 #portfolio .port_item:hover .port_item_hover {
  cursor: pointer;
  display: block;
}

@media screen and (max-width: 767px) {
  #portfolio .port_item {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
}

/* About */

#about p {
  font-size: 20px;
}
#about button {
  font-size: 20px;
  padding: 15px 25px;
  border: 2px solid #fff;
  margin-top: 30px;
}
#about button:hover {
  background-color: #fff;
}

/* contact */
#contact {
  position: relative;
}

#contact form > div > input,
#contact form > div > textarea {
  font-size: 24px;
  border: none;
  box-shadow: none;
}

#contact .form_line {
  border-bottom: 1px solid #e9ecef;
  padding: 0 0 30px;
}

#contact button {
  color: #fff;
  border: none;
}
#contact button:hover {
  background-color: #159a80;
}

#contact .success {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 0);
}


/* Footer */
#footer-top {
  padding: 80px 0;
}
#footer-top h3 {
  font-size: 28px;
  margin-bottom: 40px;
}
#footer-top p {
  font-size: 22px;
}
#footer-top > .container > .row > div {
  margin-bottom: 30px;
}
#footer-top .logo_footer {
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 6px;
}
#footer-top .logo_footer:hover {
  color: #2c3e50;
  background-color: #fff;
  cursor: pointer;
}
#footer-top > .container > .row > div:last-child a {
  color: #1abc9c;
}
#footer-top > .container > .row > div:last-child a:hover {
  color: #117964;
}
#watermark {
  padding: 30px 0;
}
